#box1{
    height:80px;
}
#box2{
    height:80px;
}
#box3{
    height:100px;
}
#box4{
    height:70px;
}
#box5{
    height:70px;
}
#box6{
    height:70px;
}
#box7{
    height:70px;
}
#box8{
    height:70px;
}
#box9{
    height:50px;
}
#box10{
    height:50px;
}
#box11{
    height:50px;
}
#box12{
    height:50px;
}
#box13{
    height:30px;
}